{% load static %}

<nav class="navbar navbar-expand-sm">
    <div class="container">
        <a href={% if user.is_authenticated %}{% url "user:home" %}{% else %}{% url "home:home" %}{% endif %} 
            class="navbar-brand d-flex align-items-center">
            
            <img src={% static "img/mockbank_logo_minimal.png" %} alt="MockBank Logo" width="150px">
        </a>
        
        <div class="collapse navbar-collapse justify-content-end" id="menuNavbar">
            <div class="navbar-nav float-end">
                
                
                {% if user.is_authenticated %}
                
                <a href={% url "user:logout" %} class="nav-link text-dark fs-5">Sair</a>
                {% else %}
                    <a href={% url "home:contact_us" %} class="nav-link text-dark fs-5  d-md-block">Entre em contato</a>
                    <a href={% url "user:create" %} class="nav-link text-dark fs-5">Criar conta</a>
                    <div class="vr mt-2 d-none d-sm-block" style="height: 30px;"></div>
                    <a href={% url "user:login" %} class="nav-link text-dark fs-5">Entrar</a>
                {% endif %}
                
            </div>
        </div>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        

    </div>
</nav>