{% if user.is_authenticated %}
<div class="container-fluid bg-dark">
    <div class="container">
        <div class="navbar text-white align-items-center justify-content-between ">

            <div class="col-6 d-flex">
                <a href={% url "user:profile" username=user.username %} class="navbar-brand">
                    <i class="bi bi-person-circle text-white fs-2"></i>
                    <h2 class="mt-2 text-white d-inline ms-1">{{ user.first_name }}</h2>
                </a>


            </div>

            <div class="col-6 d-flex justify-content-end align-items-center">
                <a href="#" class="navbar-brand">
                    <i class="bi bi-search text-white fs-3"></i>
                </a>
                <a href="#" class="navbar-brand ms-2">
                    <i class="bi bi-chat-left-text-fill text-white fs-3"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
