{% extends "global/base.html" %}

{% block content %}

<main>
    <div class="container mt-5">
        <h2>Finalizar contratação de empréstimo MockBank </h2>
        <hr>
        <p class="lead">Ótimas notícias Sr(a) {{ user.first_name }}, seu empréstimo no valor de R${{value}} com
            pagamento em {{payment}} vezes foi aprovado!</p>
        <p class="lead">Para confirmar, digite sua senha</p>
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-10 col-lg-8">
                <form action="" method="post">
                    {% csrf_token %}

                    <p>{{ form.password.errors }}</p>  
                    <div class="form-floating mb-3">
                        {{ form.password }}
                        <label for="passwordInput"> {{ form.password.label }}</label>
                    </div>
                    

                    <button class="btn btn-dark" type="submit">Confirmar empréstimo</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}