{% extends "global/base.html" %}
{% load humanize %}

{% block content %}
<main>
    <div class="container mt-5 mb-5">
        <div class="col-12 col-lg-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="mt-2">Extrato da conta</h3>
                    <hr class="mb-4">
                    
                    
                    <form method="get" action="" id="extract-form">
                        <p class="lead">Filtrar</p>
                        {% csrf_token %}
                        {{ form.filter_type }}
                    </form>

                    <div class="col-12">
                        <div class="row mx-auto mt-3">
                            {% if page_obj %}
                            {% for item in page_obj %}
                                <a href="#" class="mb-2" style="text-decoration: none;">
                                    <div class="container border rounded border-dark text-dark">
                                        <div class="row">
                                            <div class="col-8 col-sm-9 mt-1 ">
                                                <p class="opacity-75">{{ item.transfer_id }}</p>

                                                {% if item.received_by == user %}
                                                <p>Entrada - <strong>{{ item.sent_by.owner }}</strong> em {{ item.created_at }}</p>
                                                {% else %}
                                                <p>Saída - transferência para <strong>{{ item.received_by.owner }}</strong> em {{ item.created_at }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-4 col-sm-3 text-end my-auto">
                                                {% if item.received_by == user %}
                                                <p class="text-success my-auto lead"> R$ {{item.value}} </p> 
                                                {% else %}
                                                <p class="text-danger my-auto lead"> R$ {{item.value}} </p> 
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            
                            {% endfor %}
                            {% else %}
                            <p class="lead">
                                Você não possui histórico de transações.
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="col-12 text-center mt-3">
                        <nav>
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                <li class="page-item ">  
                                    <a class="page-link" href="?page=1{% if form.filter_type.value %}&filter_type={{ form.filter_type.value }}{% endif %}">Anterior</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">  
                                    <a href="#" class="page-link">Anterior</a>
                                </li>
                                {% endif %}
                                
                                 <span class="mt-2 mx-3">
                                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                                 </span>   
                                
                                    
                                {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if form.filter_type.value %}&filter_type={{ form.filter_type.value }}{% endif %}">Próxima</a>
                                
                                {% else %}
                                <a class="page-link disabled" href="#">Próxima</a>
                                {% endif %}
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
document.getElementById('id_filter_type').addEventListener('change', function() {
    var filterValue = this.value;
    var form = document.getElementById('extract-form');
    form.action = '?' + 'filter_type=' + filterValue;
    form.submit();
});
</script>
{% endblock content %}