{% extends "global/base.html" %}

{% block content %}

<main class="container mt-5 mb-5">
    <div class="title">
        <h2>Dados financeiros</h2>
        <hr>
        <h5>Primeiro, vamos registrar alguns de seus dados financeiros.</h5>
    </div>
    <div class="row justify-content-center">
        <form action="" method="post">
            {% csrf_token %}

            {% if form.errors %}
            {% for error in form.errors %}
                {{error}}
            {% endfor %}

            {% endif %}
            <div class="col-12 col-md-10 col-lg-8  mx-auto mt-3">
                <div class="row mt-3 justify-content-center">
                    <div class="form-floating col-12 col-md-5 mb-3">
                        {{ form.annual_income }}
                        <label class="ms-2" for="rendaInput">Renda anual (R$)</label>
                    </div>
                    <div class="form-floating col-12 col-md-5 mb-3">
                        {{ form.dependents }}
                        <label for="dependentesInput" class="ms-2">Dependentes</label>
                    </div>
                </div>
                
                <div class="row justify-content-center ">
                    <div class="form-floating col-12 col-md-5 mb-3">
                        {{ form.education }}
                        <label class="ms-2" for="educacaoInput">Escolaridade</label>
                        {{ form.education.errors }}
                    </div>
                    <div class="form-floating col-12 col-md-5 ">
                        {{ form.employed }}
                        <label class="ms-2" for="empregoInput">Situação empregatícia</label>
                        {{ form.employed.errors }}
                    </div>
                </div>
                <hr class="my-4">

                <div class="row  justify-content-center">
                    <div class="form-floating col-12 col-md-5 mb-3">
                        {{ form.residential_assets }}
                        <label class="ms-3" for="residencialInput">Patrimônio residencial</label>
                    </div>

                    <div class="form-floating col-12 col-md-5 mb-3">
                        {{ form.commercial_assets }}

                        <label class="ms-3" for="comercialInput">Patrimônio comercial</label>
                    </div>
                    <div class="form-floating col-12 col-md-5 mb-3">
                        {{ form.luxury_assets }}
                        <label class="ms-3" for="luxoInput">Patrimônio luxo</label>
                    </div>
                    <div class="form-floating col-12 col-md-5 ">
                        {{ form.bank_assets }}
                        <label class="ms-3" for="bancarioInput">Patrimônio bancário</label>
                    </div>
                </div>

                <hr class="my-4">

                <div class="col-10" style="margin: 0 auto;">
                    <button class="btn btn-dark btn-lg d-block mt-2 w-100" type="submit">Enviar</button>
                </div>
            </div>
        </form>

    </div>

</main>

{% endblock content %}